<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Geolocation" version="1.1.1" targetFramework="MonoAndroid60" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="MonoAndroid60" />
  <package id="Plugin.CurrentActivity" version="1.0.1" targetFramework="MonoAndroid60" />
  <package id="Plugin.Permissions" version="1.1.7" targetFramework="MonoAndroid60" />
  <package id="RestSharp" version="105.2.3" targetFramework="MonoAndroid60" />
  <package id="sqlite-net" version="1.0.8" targetFramework="MonoAndroid60" />
  <package id="Xam.Plugin.Geolocator" version="3.0.4" targetFramework="MonoAndroid60" />
  <package id="Xamarin.Android.Support.v4" version="23.0.1.3" targetFramework="MonoAndroid60" />
</packages>