<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Dep_App.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Dep_App.My.MySettings.depp_appConnectionString" connectionString="server=localhost;User Id=rdms_user;Persist Security Info=True;database=dbliquidation;password=1r1d2m7s1d1atabase"
            providerName="MySql.Data.MySqlClient" />
        <add name="Dep_App.My.MySettings.rdms_dbConnectionString" connectionString="server=localhost;User Id=rdms_user;password=1r1d2m7s1d1atabase;Persist Security Info=True;database=rdms_db"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup useLegacyV2RuntimeActivationPolicy="True">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
				<bindingRedirect oldVersion="0.0.0.0-6.5.4.0" newVersion="6.5.4.0"/>
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
 <userSettings>
  <Dep_App.My.MySettings>
   <setting name="conn1" serializeAs="String">
    <value>localhost</value>
   </setting>
   <setting name="conn2" serializeAs="String">
    <value>localhost</value>
   </setting>
  </Dep_App.My.MySettings>
 </userSettings>
</configuration>
