<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="JRF_Generator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <connectionStrings/>
    <startup useLegacyV2RuntimeActivationPolicy="True">
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>



  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.4.4.0" newVersion="6.4.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <JRF_Generator.My.MySettings>
      <setting name="ServerName" serializeAs="String">
        <value>192.168.1.125</value>
      </setting>
      <setting name="comboWidth" serializeAs="String">
        <value>350</value>
      </setting>
      <setting name="PANA" serializeAs="String">
        <value>192.168.1.113</value>
      </setting>
      <setting name="FormCode" serializeAs="String">
        <value>FO-TS-01</value>
      </setting>
    </JRF_Generator.My.MySettings>
  </userSettings>
</configuration>
