<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LiquidationLightspeed.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="LiquidationLightspeed.My.MySettings.rdms_dbConnectionString"
            connectionString="server=localhost;User Id=rdms_user;database=rdms_db;password=1r1d2m7s1d1atabase;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
        <add name="LiquidationLightspeed.My.MySettings.dbliquidationConnectionString1"
            connectionString="server=localhost;User Id=root;Persist Security Info=True;database=dbliquidation"
            providerName="MySql.Data.MySqlClient" />
        <add name="LiquidationLightspeed.My.MySettings.dbliquidationConnectionString"
            connectionString="server=localhost;User Id=rdms_user;database=dbliquidation;password=1r1d2m7s1d1atabase;Persist Security Info=True"
            providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="MySql.Data" publicKeyToken="C5687FC88969C44D" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.9.8.0" newVersion="6.9.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  
  <userSettings>
    <LiquidationLightspeed.My.MySettings>
      <setting name="mycon1" serializeAs="String">
        <value>192.168.1.125</value>
      </setting>
      <setting name="mycon2" serializeAs="String">
        <value>192.168.1.125</value>
      </setting>
    </LiquidationLightspeed.My.MySettings>
  </userSettings>
</configuration>
